*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#circle{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    
}

.box1{
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border: none;
    background-color: white;
}

#div1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

#button{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#button1 button{
    padding: 10px 30px;
    width: 200px;
}

#button2 button{
    padding: 10px 30px;
    width: 200px;
}

.right-triangle {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;
}